.mat-sort-header-container {
    align-items: center;
  }
  table{
    border: 2px solid;
    border-color: black;
  }
  .favorite {
    color: orange;
    background-color: black;
  }
  .favorite-column {
    text-align: center;
    cursor: pointer;
  }
  .favorite-column:hover {
    background: blue;
    font-weight: 700;
  }
  td {
    padding: 5px;
  }
  